POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=analyzer
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgres://postgres:postgres@localhost:5432/analyzer?sslmode=disable


REDIS_ADDR=localhost:6379

# App settings
JWT_SECRET=secret_value